---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header></header>
		<main>
			<slot />
		</main>
		<footer></footer>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--bg-color: #2d394d;
		--main-color: #ff7a90;
		--caret-color: #ff7a90;
		--sub-color: #4a768d;
		--sub-alt-color: #263041;
		--text-color: #fffaf8;
		--error-color: #ee2a3a;
		--error-extra-color: #f04040;
		--colorful-error-color: #fc2032;
		--colorful-error-extra-color: #f04040;
	}

	body {
		background: var(--bg-color);
	}

	main {
		display: grid;
		justify-content: center;
		margin-top: 32px;
		padding: 16px;
		font-family: Menlo, monospace;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
